/* COMMON */
.summary__title {
  font-size: 34px !important;
}

.summary__description {
  font-size: 22px;
}

/*FEATURE */
.section--feature {
  .tiles {
    li {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

/* WHERE IS */
#map {
  width: auto !important;
  /* auto default */
  /* 100% margin+padding 포함 */
  border: 1px solid red;
  margin: 40px -20px 0 -20px;
  border-left: none;
  border-right: none;
}

/* PRICING */
.section--pricing {
  .card {
    display: block;

    .cell2 {
      border-left: none;
      border-top: 1px solid e5e5e5;
    }
  }
}

/* FOOTER */
footer {
  .site-links {
    float: none;
    display: block;
    text-align: center;

    &:first-child {
      margin-bottom: 20px;
    }

    li {
      display: inline;
    }
  }
}